* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  width: 100%;
  min-height: calc(100vh - 545px);
}

.white-text {
  color: #fff;
}

.black-text {
  color: #000;
}

.white-border {
  border-bottom: 2px solid #fff;
}

.black-border {
  border-bottom: 2px solid #000;
}

@font-face {
  font-family: GillSans;
  src: url(../fonts/GillSans/GillSans.ttc);
}
@font-face {
  font-family: GillSansBold;
  src: url(../fonts/GillSans/Gill\ Sans\ Bold.otf);
}
@font-face {
  font-family: GillSansLight;
  src: url(../fonts/GillSans/Gill\ Sans\ Light.otf);
}
@font-face {
  font-family: GillSansLightItalic;
  src: url(../fonts/GillSans/Gill\ Sans\ Light\ Italic.otf);
}
@font-face {
  font-family: GillSansItalic;
  src: url(../fonts/GillSans/Gill\ Sans\ Italic.otf);
}
@font-face {
  font-family: GillSansSemiBoldItalic;
  src: url(../fonts/GillSans/Gill\ Sans\ Medium\ Italic.otf);
}
@font-face {
  font-family: PTSerif;
  src: url(../fonts/PTSerif-Regular.ttf);
}
nav {
  padding: 0 10px;
}
nav .nav-wrapper {
  max-width: 980px;
  height: 92.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}
nav .logo {
  padding-right: 10px;
}
nav .logo .nav-logo {
  width: 92px;
  height: 42px;
}
nav .logo .white-logo {
  background-image: url(../images/logo/logo-white.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav .logo .black-logo {
  background-image: url(../images/logo/logo-black.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav label {
  display: none;
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 22px;
  color: #fff;
}
nav #toggle {
  display: none;
}
nav .links a {
  text-transform: lowercase;
  text-decoration: none;
  font-family: GillSans;
  font-size: 15px;
  transition: 0.14s ease-in, 0.14s ease-out;
}
nav .links a:hover {
  cursor: pointer;
  color: #ee4367;
}
nav .links span {
  margin: 0 13.5px;
  color: #ee4367;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  nav .nav-wrapper label {
    display: block;
    cursor: pointer;
  }
  nav .nav-wrapper #toggle:checked + .links {
    display: block;
  }
  nav .nav-wrapper .mobile-menu {
    display: block;
    cursor: pointer;
  }
  nav .nav-wrapper .links {
    margin-top: 360px;
    margin-right: 0px;
    text-align: center;
    display: none;
    width: 100%;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.8745098039);
  }
  nav .nav-wrapper .links a {
    vertical-align: middle;
    text-align: center;
    font-family: GillSansLight;
    display: block;
    border-bottom: 1px solid #fff;
    line-height: 83px;
    color: #fff;
  }
  nav .nav-wrapper .links span {
    display: none;
  }
}
.home-hero {
  max-width: 100%;
  height: 500px;
  margin-top: -92.5px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 156px;
}
.home-hero h1 {
  font-family: PTSerif;
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-weight: lighter;
}
.home-hero h2 {
  font-family: GillSansItalic;
  font-size: 20px;
  color: #ee4367;
  text-align: center;
  margin-bottom: 49px;
  margin-top: -4px;
}
.home-hero p {
  font-family: GillSansItalic;
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  max-width: 420px;
  padding: 0 10px;
  line-height: 22px;
}
.home-hero .home-btn-wrapper {
  width: 121.62px;
  margin: 48px auto 73px auto;
}
.home-hero .home-btn-wrapper button {
  background-color: #ee4367;
  border: none;
  font-family: GillSans;
  color: #fff;
  width: 100%;
  height: 40px;
  transition: 0.2s ease-in, 0.2s ease-out;
}
.home-hero .home-btn-wrapper button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #ee4367;
}

@media screen and (max-width: 800px) {
  .home-hero {
    height: 100vh;
  }
  .home-hero h1 {
    padding-top: 90px;
  }
}
footer {
  background-color: #ee4367;
  height: 455px;
  padding: 46px 10px 35px 10px;
}
footer .footer-wrapper {
  max-width: 696px;
  margin: 0 auto;
  text-align: center;
}
footer .footer-wrapper .address {
  font-family: GillSans;
  font-weight: lighter;
  font-size: 16px;
  color: #fff;
  margin: 45px 0;
  line-height: 22px;
}
footer .footer-wrapper .newsletter-signup {
  display: flex;
  justify-content: center;
}
footer .footer-wrapper .newsletter-signup input {
  width: 529px;
  height: 60px;
  padding-left: 23px;
  font-family: GillSans;
  font-size: 16px;
  background-color: #f56b88;
  border: none;
}
footer .footer-wrapper .newsletter-signup ::placeholder {
  color: #fff;
}
footer .footer-wrapper .newsletter-signup .button-wrapper button {
  width: 167px;
  height: 60px;
  background-color: #fff;
  text-transform: uppercase;
  color: #ee4367;
  border: none;
  font-family: GillSans;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.2s ease-in, 0.2s ease-out;
}
footer .footer-wrapper .newsletter-signup .button-wrapper button:hover {
  cursor: pointer;
  background-color: #f56b88;
  color: #fff;
  border-left: 1px solid #ee4367;
}
footer .footer-wrapper .social-media {
  margin: 30px auto 45px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 156px;
}
footer .footer-wrapper .social-media .social-media-icon i {
  font-size: 30px;
  color: #fff;
  transition: 0.2s ease-in, 0.2s ease-out;
}
footer .footer-wrapper .social-media .social-media-icon i:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer .footer-wrapper span {
  font-family: GillSans;
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
}

@media screen and (max-width: 500px) {
  footer .footer-wrapper .newsletter-signup input {
    padding: 14px 2px 14px 14px;
    font-size: 14px;
    font-family: GillSansLight;
  }
  footer .footer-wrapper .newsletter-signup .button-wrapper button {
    width: 100px;
    font-size: 14px;
  }
}
.home-quote {
  min-height: 300px;
  background-color: #fff;
  padding: 77px 20px;
}
.home-quote .home-quote-wrapper {
  max-width: 789px;
  margin: 0 auto;
}
.home-quote .home-quote-wrapper p {
  color: #ffd140;
  font-family: GillSansSemiBoldItalic;
  font-size: 15px;
  line-height: 22px;
}
.home-quote .home-quote-wrapper h2 {
  padding-top: 20px;
  font-family: PTSerif;
  font-size: 15px;
  color: #ee4367;
}
.home-quote .home-quote-wrapper span p {
  font-family: PTSerif;
  color: #a8a8a8;
  font-size: 10px;
  margin-top: -10px;
}

.home-events {
  background-color: #540d6e;
  padding: 50px 10px;
  min-height: 320px;
}
.home-events h2 {
  text-transform: uppercase;
  font-family: GillSans;
  font-size: 25px;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 1px;
  max-width: 1198px;
  margin: 0 auto;
}
.home-events h2:after {
  content: "";
  display: block;
  border-bottom: 2px solid #fff;
  width: 392px;
  margin-top: 10.5px;
  margin-bottom: 34.5px;
}
.home-events .upcoming-events-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1198px;
  margin: 0 auto;
}
.home-events .upcoming-events-wrapper a {
  text-decoration: none;
}
.home-events .upcoming-events-wrapper .event-container {
  max-width: 220px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.home-events .upcoming-events-wrapper .event-container .date {
  height: 60px;
  width: 60px;
  background-color: #ee4367;
  padding: 0 15px;
  margin-right: 20px;
}
.home-events .upcoming-events-wrapper .event-container .date p {
  color: #fff;
  font-family: GillSansBold;
  font-size: 22px;
  text-align: center;
  padding-top: 9px;
}
.home-events .upcoming-events-wrapper .event-container .date span p {
  color: #fff;
  font-family: GillSansLight;
  font-size: 12px;
  text-align: center;
  margin-top: -25.5px;
}
.home-events .upcoming-events-wrapper .event-container .event-description {
  max-width: 140px;
  padding: 2px;
  padding-left: 10px;
}
.home-events .upcoming-events-wrapper .event-container .event-description p {
  font-family: GillSans;
  font-size: 15px;
  color: #fff;
}
.home-events .upcoming-events-wrapper .event-container .event-description span p {
  font-family: GillSans;
  font-size: 13px;
  color: #ee4367;
  margin-top: -1px;
}
.home-events .upcoming-events-wrapper .event-container:hover {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .home-events h2 {
    text-align: center;
  }
  .home-events h2:after {
    margin: 10.5px auto 34.5px auto;
    width: 100%;
  }
  .home-events .upcoming-events-wrapper {
    flex-direction: column;
    max-width: 950px;
  }
  .home-events .upcoming-events-wrapper .event-container {
    max-width: 750px;
    margin: 0 auto;
    padding: 10px 10px;
    flex-direction: column;
  }
  .home-events .upcoming-events-wrapper .event-container .date {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 18px;
    height: 46px;
  }
  .home-events .upcoming-events-wrapper .event-container .date p {
    margin-top: 9px;
  }
  .home-events .upcoming-events-wrapper .event-container .date span p {
    margin-left: 4.5px;
    margin-top: 13px;
  }
  .home-events .upcoming-events-wrapper .event-container .event-description {
    min-width: 90%;
    margin: 40px auto 20px auto;
  }
  .home-events .upcoming-events-wrapper .event-container .event-description p {
    text-align: center;
    font-size: 18px;
  }
  .home-events .upcoming-events-wrapper .event-container .event-description span p {
    font-size: 16px;
  }
}
.about-container {
  padding: 0 15px;
}
.about-container .about-wrapper {
  max-width: 980px;
  margin: 0 auto;
}
.about-container .about-wrapper .about-history {
  padding-bottom: 95px;
}
.about-container .about-wrapper .about-history p {
  margin-top: 52.3px;
  font-family: GillSansLightItalic;
  font-size: 16px;
  letter-spacing: 1px;
}
.about-container .about-wrapper .about-header {
  width: 100%;
  margin-top: 85.5px;
}
.about-container .about-wrapper .about-header .about-header-img {
  width: 100%;
  height: 378.75px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.about-container .about-wrapper .about-header .about-header-img h1 {
  position: absolute;
  bottom: -30px;
  left: 0;
  font-family: GillSans;
  font-size: 25px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about-container .about-wrapper .about-header .about-header-img h1:after {
  content: "";
  display: block;
  border-bottom: 2px solid #000;
  width: 229px;
  margin-top: 10.5px;
}

@media screen and (max-width: 800px) {
  .about-container .about-wrapper .about-header .about-header-img h1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding-top: 325px;
  }
  .about-container .about-wrapper .about-header .about-header-img h1:after {
    width: 100%;
  }
}
.gallery-container {
  padding: 0px 10px;
}
.gallery-container .gallery-content-wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.gallery-container .gallery-content-wrapper h1 {
  margin-top: 65.5px;
  font-family: GillSans;
  font-weight: lighter;
  font-size: 25px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
}
.gallery-container .gallery-content-wrapper h1:after {
  content: "";
  display: block;
  border-bottom: 2px solid #000;
  width: 229px;
  margin-top: 10.5px;
}
.gallery-container .gallery-content-wrapper .first-gallery-row,
.gallery-container .gallery-content-wrapper .gallery-row {
  width: 100%;
  height: 187px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 29.5px;
}
.gallery-container .gallery-content-wrapper .first-gallery-row .gallery-img,
.gallery-container .gallery-content-wrapper .gallery-row .gallery-img {
  transition: 0.3s ease-in, 0.3s ease-out;
}
.gallery-container .gallery-content-wrapper .first-gallery-row .gallery-img:hover,
.gallery-container .gallery-content-wrapper .gallery-row .gallery-img:hover {
  cursor: pointer;
  border-radius: 8px;
  transform: scale(1.02);
}
.gallery-container .gallery-content-wrapper .first-gallery-row a .gallery-img1,
.gallery-container .gallery-content-wrapper .gallery-row a .gallery-img1 {
  margin-right: 10px;
  min-height: 187px;
  width: 489px;
  height: 100%;
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/gallery/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-container .gallery-content-wrapper .first-gallery-row a .gallery-img2,
.gallery-container .gallery-content-wrapper .gallery-row a .gallery-img2 {
  margin-right: 10px;
  min-height: 187px;
  width: 187px;
  height: 100%;
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../images/gallery/2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-container .gallery-content-wrapper .first-gallery-row a .gallery-img3,
.gallery-container .gallery-content-wrapper .gallery-row a .gallery-img3 {
  min-height: 187px;
  width: 265px;
  height: 100%;
  background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url(../images/gallery/3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-container .gallery-content-wrapper .second-gallery-row {
  margin-top: 20px;
  max-width: 100%;
  height: 306px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery-container .gallery-content-wrapper .second-gallery-row a .gallery-img4 {
  margin-right: 4px;
  min-height: 306px;
  width: 603px;
  height: 100%;
  background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url(../images/gallery/4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-container .gallery-content-wrapper .second-gallery-row a .gallery-img5 {
  min-height: 306px;
  width: 355px;
  height: 100%;
  background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url(../images/gallery/5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1010px) {
  .gallery-container .gallery-content-wrapper h1 {
    text-align: center;
  }
  .gallery-container .gallery-content-wrapper h1:after {
    display: none;
  }
  .gallery-container .gallery-content-wrapper .gallery-row {
    flex-direction: column;
    height: auto;
  }
  .gallery-container .gallery-content-wrapper .gallery-row a {
    width: 100%;
  }
  .gallery-container .gallery-content-wrapper .gallery-row a .gallery-img {
    margin: 35px auto;
    width: 75%;
    min-height: 300px;
  }
  .gallery-container .gallery-content-wrapper .second-gallery-row {
    margin-top: 0;
  }
}
.gal-container {
  padding: 0px 20px 73px 20px;
}
.gal-container .gal-content {
  max-width: 980px;
  margin: 50.5px auto 0px auto;
}
.gal-container .gal-content .gal-header-1 {
  height: 400.5px;
  width: 100%;
  background-image: linear-gradient(rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/gallery/1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.gal-container .gal-content .gal-header-1 h1 {
  font-family: GillSans;
  font-size: 300px;
  color: #ffd140;
  font-weight: lighter;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -84px;
  left: 0;
}
.gal-container .gal-content .gal-header-1 h2 {
  font-family: GillSans;
  font-size: 140px;
  color: #ffd140;
  font-weight: lighter;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -28px;
  left: 240px;
  line-height: 122px;
}
.gal-container .gal-content .gal-header-2 {
  height: 400.5px;
  width: 100%;
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../images/gallery/2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.gal-container .gal-content .gal-header-2 h1 {
  font-family: GillSans;
  font-size: 300px;
  color: #ee4367;
  font-weight: lighter;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -84px;
  left: 0;
}
.gal-container .gal-content .gal-header-2 h2 {
  font-family: GillSans;
  font-size: 140px;
  color: #ee4367;
  font-weight: lighter;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -28px;
  left: 240px;
  line-height: 122px;
}
.gal-container .gal-content .gal-header-3 {
  height: 400.5px;
  width: 100%;
  background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url(../images/gallery/3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.gal-container .gal-content .gal-header-3 h1 {
  font-family: GillSans;
  font-size: 300px;
  color: #08ad69;
  font-weight: lighter;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -84px;
  left: 0;
}
.gal-container .gal-content .gal-header-3 h2 {
  font-family: GillSans;
  font-size: 140px;
  color: #08ad69;
  font-weight: lighter;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -28px;
  left: 240px;
  line-height: 122px;
}
.gal-container .gal-content .gal-header-4 {
  height: 400.5px;
  width: 100%;
  background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url(../images/gallery/4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.gal-container .gal-content .gal-header-4 h1 {
  font-family: GillSans;
  font-size: 300px;
  color: #540d6e;
  font-weight: lighter;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -84px;
  left: 0;
}
.gal-container .gal-content .gal-header-4 h2 {
  font-family: GillSans;
  font-size: 115px;
  color: #540d6e;
  font-weight: lighter;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -38px;
  left: 240px;
  line-height: 122px;
}
.gal-container .gal-content .gal-header-5 {
  height: 400.5px;
  width: 100%;
  background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url(../images/gallery/5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.gal-container .gal-content .gal-header-5 h1 {
  font-family: GillSans;
  font-size: 300px;
  color: #3bceab;
  font-weight: lighter;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -84px;
  left: 0;
}
.gal-container .gal-content .gal-header-5 h2 {
  font-family: GillSans;
  font-size: 115px;
  color: #3bceab;
  font-weight: lighter;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: -38px;
  left: 240px;
  line-height: 122px;
}
.gal-container .gal-content .gal-description {
  margin-top: 50.5px;
  display: flex;
  justify-content: space-between;
}
.gal-container .gal-content .gal-description .left-gal-p {
  max-width: 495px;
  font-family: GillSansLightItalic;
  font-size: 16px;
  letter-spacing: 1px;
  color: #000;
  margin-right: 60px;
}
.gal-container .gal-content .gal-description .right-gal-p {
  max-width: 461px;
  font-family: GillSansLightItalic;
  font-size: 16px;
  letter-spacing: 1px;
  color: #000;
}

@media screen and (max-width: 875px) {
  .gal-container .gal-content .gal-header h1 {
    top: 5px;
    font-size: 96px;
    bottom: 42px;
    left: 20px;
  }
  .gal-container .gal-content .gal-header h2 {
    top: 100px;
    left: 14px;
    bottom: -14px;
    font-size: 60px;
    line-height: 54px;
  }
  .gal-container .gal-content .gal-description {
    flex-direction: column;
    width: 100%;
    margin-top: 30.5px;
    padding: 0 10px;
  }
  .gal-container .gal-content .gal-description p {
    min-width: 98%;
    margin-top: 10px;
  }
}
.blog-page-container {
  padding: 0px 10px;
}
.blog-page-container .blog-content-wrapper {
  max-width: 980px;
  padding-top: 65.5px;
  padding-bottom: 86px;
  margin: 0 auto;
}
.blog-page-container .blog-content-wrapper h1 {
  font-family: GillSans;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  margin-bottom: 30.5px;
}
.blog-page-container .blog-content-wrapper h1:after {
  content: "";
  display: block;
  border-bottom: 2px solid #000;
  width: 229px;
  margin-top: 10.5px;
}
.blog-page-container .blog-content-wrapper .row {
  margin-bottom: 30px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-page-container .blog-content-wrapper .row .last-container {
  opacity: 0%;
}
.blog-page-container .blog-content-wrapper .row .blog-container {
  width: 460px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.blog-page-container .blog-content-wrapper .row .blog-container .blog-date {
  width: 60px;
  height: 60px;
  background-color: #ee4367;
  padding: 0 10px;
  cursor: pointer;
}
.blog-page-container .blog-content-wrapper .row .blog-container .blog-date p {
  color: #fff;
  font-family: GillSansBold;
  font-size: 22px;
  text-align: center;
  padding-top: 9px;
}
.blog-page-container .blog-content-wrapper .row .blog-container .blog-date span p {
  color: #fff;
  font-family: GillSansLight;
  font-size: 12px;
  text-align: center;
  margin-top: -25.5px;
}
.blog-page-container .blog-content-wrapper .row .blog-container .blog-right-content {
  max-width: 380px;
}
.blog-page-container .blog-content-wrapper .row .blog-container .blog-right-content .blog-img {
  width: 100%;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s ease-in, 0.3s ease-out;
}
.blog-page-container .blog-content-wrapper .row .blog-container .blog-right-content .blog-img:hover {
  cursor: pointer;
}
.blog-page-container .blog-content-wrapper .row .blog-container .blog-right-content p {
  font-family: GillSans;
  font-size: 15px;
  color: #000;
  margin-top: 20px;
  padding-left: 4px;
  transition: 0.2s ease-in, 0.2s ease-out;
}
.blog-page-container .blog-content-wrapper .row .blog-container .blog-right-content p:hover {
  cursor: pointer;
}
.blog-page-container .blog-content-wrapper .row .blog-container .blog-right-content span p {
  font-family: GillSans;
  font-size: 13px;
  color: #ee4367;
  margin-top: -1px;
  padding-left: 4px;
  padding-right: 10px;
}

@media screen and (max-width: 800px) {
  .blog-page-container .blog-content-wrapper h1 {
    text-align: center;
    margin: 0 auto;
  }
  .blog-page-container .blog-content-wrapper h1:after {
    display: none;
  }
  .blog-page-container .blog-content-wrapper .row {
    flex-direction: column;
    width: 670px;
    margin: 0 auto;
  }
  .blog-page-container .blog-content-wrapper .row .last-container {
    display: none;
  }
  .blog-page-container .blog-content-wrapper .row .blog-container {
    margin: 30px 20px;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .blog-page-container .blog-content-wrapper .row .blog-container .blog-date {
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
  }
  .blog-page-container .blog-content-wrapper .row .blog-container .blog-right-content {
    max-width: 100%;
    margin: 0 auto;
  }
  .blog-page-container .blog-content-wrapper .row .blog-container .blog-right-content .blog-img {
    margin: 0 auto;
    width: 100%;
    height: 220px;
  }
  .blog-page-container .blog-content-wrapper .row .blog-container .blog-right-content p {
    margin-top: 36px;
    font-size: 18px;
    text-align: center;
  }
  .blog-page-container .blog-content-wrapper .row .blog-container .blog-right-content span p {
    font-size: 14px;
  }
}
.blog-story-page {
  padding: 0px 20px;
}
.blog-story-page .blog-story-wrapper {
  max-width: 980px;
  padding-top: 55.5px;
  padding-bottom: 151px;
  margin: 0 auto;
}
.blog-story-page .blog-story-wrapper .blog-story-header {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(rgba(238, 67, 103, 0.6), rgba(238, 67, 103, 0.6)), url(../images/blog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 75px 0;
}
.blog-story-page .blog-story-wrapper .blog-story-header .story-date-wrapper {
  width: 155.25px;
  height: 155.25px;
  background-color: #ee4367;
  padding: 0 10px;
  margin: 0 auto;
}
.blog-story-page .blog-story-wrapper .blog-story-header .story-date-wrapper p {
  color: #fff;
  font-family: GillSansBold;
  font-size: 55px;
  text-align: center;
  padding-top: 27px;
}
.blog-story-page .blog-story-wrapper .blog-story-header .story-date-wrapper span p {
  color: #fff;
  font-family: GillSansLight;
  font-size: 31px;
  text-align: center;
  margin-top: -48px;
}
.blog-story-page .blog-story-wrapper .blog-story-text-wrapper {
  max-width: 856px;
}
.blog-story-page .blog-story-wrapper .blog-story-text-wrapper h1 {
  font-size: 20px;
  color: #ee4367;
  margin: 56px auto 30px auto;
  font-weight: lighter;
}
.blog-story-page .blog-story-wrapper .blog-story-text-wrapper p {
  font-family: GillSansLight;
  font-size: 20px;
  letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
  .blog-story-page .blog-story-wrapper .blog-story-text-wrapper h1 {
    font-size: 30px;
    text-align: center;
  }
  .blog-story-page .blog-story-wrapper .blog-story-text-wrapper p {
    font-size: 16px;
  }
}
.contact-page {
  padding: 0 15px;
}
.contact-page .contact-page-wrapper {
  max-width: 980px;
  padding-top: 65.5px;
  padding-bottom: 90px;
  margin: 0 auto;
}
.contact-page .contact-page-wrapper h1 {
  font-family: GillSans;
  font-weight: lighter;
  font-size: 25px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact-page .contact-page-wrapper h1:after {
  content: "";
  display: block;
  width: 229px;
  border-bottom: 2px solid #000;
  margin-top: 10.5px;
}
.contact-page .contact-page-wrapper .contact-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 65.5px;
}
.contact-page .contact-page-wrapper .contact-content-container .form {
  width: 529px;
  margin-right: 15px;
}
.contact-page .contact-page-wrapper .contact-content-container .form input {
  width: 100%;
  height: 60px;
  margin-bottom: 21px;
  font-family: GillSans;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.502);
  padding: 20px;
  background-color: #f5f5f5;
  border: none;
}
.contact-page .contact-page-wrapper .contact-content-container .form textarea {
  width: 100%;
  height: 199px;
  resize: none;
  font-family: GillSans;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.502);
  padding: 20px;
  background-color: #f5f5f5;
  border: none;
  margin-bottom: 21px;
}
.contact-page .contact-page-wrapper .contact-content-container .form button {
  width: 167px;
  height: 60px;
  background-color: #ee4367;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: GillSans;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.contact-page .contact-page-wrapper .contact-content-container .map {
  width: 400px;
  height: 442px;
}
.contact-page .contact-page-wrapper .contact-content-container .map .map-img {
  width: 100%;
  height: 442px;
  background-image: url(../images/map.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
  .contact-page .contact-page-wrapper h1 {
    text-align: center;
  }
  .contact-page .contact-page-wrapper h1:after {
    display: none;
  }
  .contact-page .contact-page-wrapper .contact-content-container {
    flex-direction: column-reverse;
  }
  .contact-page .contact-page-wrapper .contact-content-container .map {
    margin: 0 auto 20px auto;
    width: 100%;
  }
  .contact-page .contact-page-wrapper .contact-content-container .form {
    width: 100%;
    margin: 0 auto;
  }
  .contact-page .contact-page-wrapper .contact-content-container .form input {
    max-width: 100%;
    font-size: 14px;
  }
  .contact-page .contact-page-wrapper .contact-content-container .form textarea {
    font-size: 14px;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .contact-page .contact-page-wrapper .contact-content-container .form button {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
