* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: GillSans;
  src: url(../fonts/GillSans/GillSans.ttc);
}
@font-face {
  font-family: GillSansBold;
  src: url(../fonts/GillSans/Gill\ Sans\ Bold.otf);
}
@font-face {
  font-family: GillSansLight;
  src: url(../fonts/GillSans/Gill\ Sans\ Light.otf);
}
@font-face {
  font-family: GillSansItalic;
  src: url(../fonts/GillSans/Gill\ Sans\ Italic.otf);
}
@font-face {
  font-family: GillSansSemiBoldItalic;
  src: url(../fonts/GillSans/Gill\ Sans\ Medium\ Italic.otf);
}
@font-face {
  font-family: PTSerif;
  src: url(../fonts/PTSerif-Regular.ttf);
}
nav {
  padding: 0 10px;
}
nav .nav-wrapper {
  max-width: 980px;
  height: 92.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  z-index: 99;
  border-bottom: 2px solid #fff;
}
nav .links a {
  text-transform: lowercase;
  text-decoration: none;
  font-family: GillSans;
  font-size: 15px;
  color: #fff;
}
nav .links span {
  margin: 0 13.5px;
  color: #EE4367;
  font-size: 18px;
}

.home-hero {
  max-width: 100%;
  height: 500px;
  margin-top: -92.5px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 156px;
}
.home-hero h1 {
  font-family: PTSerif;
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.home-hero h2 {
  font-family: GillSansItalic;
  font-size: 20px;
  color: #EE4367;
  text-align: center;
  margin-bottom: 49px;
  margin-top: -4px;
}
.home-hero p {
  font-family: GillSansItalic;
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 420px;
  line-height: 22px;
}
.home-hero .home-btn-wrapper {
  width: 121.62px;
  margin: 48px auto 73px auto;
}
.home-hero .home-btn-wrapper button {
  background-color: #EE4367;
  border: none;
  font-family: GillSans;
  color: #fff;
  width: 100%;
  height: 40px;
  transition: 0.2s ease-in, 0.2s ease-out;
}
.home-hero .home-btn-wrapper button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #EE4367;
}

footer {
  background-color: #EE4367;
  height: 455px;
  padding: 46px 10px 35px 10px;
}
footer .footer-wrapper {
  max-width: 696px;
  margin: 0 auto;
  text-align: center;
}
footer .footer-wrapper .address {
  font-family: GillSans;
  font-size: 16px;
  color: #fff;
  margin: 45px 0;
  line-height: 22px;
}
footer .footer-wrapper .newsletter-signup {
  display: flex;
  justify-content: center;
}
footer .footer-wrapper .newsletter-signup input {
  width: 529px;
  height: 60px;
  padding-left: 23px;
  font-family: GillSans;
  font-size: 16px;
  background-color: #F56B88;
  border: none;
}
footer .footer-wrapper .newsletter-signup ::placeholder {
  color: #fff;
}
footer .footer-wrapper .newsletter-signup .button-wrapper button {
  width: 167px;
  height: 60px;
  background-color: #fff;
  text-transform: uppercase;
  color: #EE4367;
  border: none;
  font-family: GillSans;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.2s ease-in, 0.2s ease-out;
}
footer .footer-wrapper .newsletter-signup .button-wrapper button:hover {
  cursor: pointer;
  background-color: #F56B88;
  color: #fff;
  border-left: 1px solid #EE4367;
}
footer .footer-wrapper .social-media {
  margin: 30px auto 45px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 156px;
}
footer .footer-wrapper .social-media .social-media-icon i {
  font-size: 30px;
  color: #fff;
  transition: 0.2s ease-in, 0.2s ease-out;
}
footer .footer-wrapper .social-media .social-media-icon i:hover {
  cursor: pointer;
  transform: scale(1.2);
}
footer .footer-wrapper span {
  font-family: GillSans;
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
}

.home-quote {
  min-height: 300px;
  background-color: #fff;
  padding: 77px 10px;
}
.home-quote .home-quote-wrapper {
  max-width: 789px;
  margin: 0 auto;
}
.home-quote .home-quote-wrapper p {
  color: #FFD140;
  font-family: GillSansSemiBoldItalic;
  font-size: 15px;
  line-height: 22px;
}
.home-quote .home-quote-wrapper h2 {
  padding-top: 20px;
  font-family: PTSerif;
  font-size: 15px;
  color: #EE4367;
}
.home-quote .home-quote-wrapper span p {
  font-family: PTSerif;
  color: #a8a8a8;
  font-size: 10px;
  margin-top: -10px;
}

.home-events {
  background-color: #540D6E;
  padding: 50px 0px;
  min-height: 320px;
  text-overflow: hidden;
}
.home-events h2 {
  text-transform: uppercase;
  font-family: GillSans;
  font-size: 25px;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 1px;
  max-width: 1198px;
  margin: 0 auto;
}
.home-events h2:after {
  content: "";
  display: block;
  border-bottom: 2px solid #fff;
  width: 392px;
  margin-top: 10.5px;
  margin-bottom: 34.5px;
}
.home-events .upcoming-events-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1198px;
  margin: 0 auto;
}
.home-events .upcoming-events-wrapper .event-container {
  width: 220px;
  height: 124px;
  text-overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.home-events .upcoming-events-wrapper .event-container .date {
  height: 60px;
  width: 60px;
  background-color: #EE4367;
}
.home-events .upcoming-events-wrapper .event-container .date p {
  color: #fff;
  font-family: GillSansBold;
  font-size: 22px;
  text-align: center;
  padding-top: 9px;
}
.home-events .upcoming-events-wrapper .event-container .date span p {
  color: #fff;
  font-family: GillSansLight;
  font-size: 12px;
  text-align: center;
  margin-top: -25.5px;
}
.home-events .upcoming-events-wrapper .event-container .event-description {
  width: 140px;
  padding: 2px;
}
.home-events .upcoming-events-wrapper .event-container .event-description p {
  font-family: GillSans;
  font-size: 15px;
  color: #fff;
}
.home-events .upcoming-events-wrapper .event-container .event-description span p {
  font-family: GillSans;
  font-size: 13px;
  color: #EE4367;
  margin-top: -1px;
}

/*# sourceMappingURL=styles.css.map */
