//Width and height variables
$site-width: 980px;
$footer-content-width: 696px;
$home-quote-width: 789px;
$home-events-width: 1198px;

//Site colors
$site-white: #fff;
$site-black: #000;
$site-yellow: #ffd140;
$site-purple: #540d6e;
$site-pink: #ee4367;
$site-aqua: #3bceab;
$site-green: #08ad69;
$footer-signup-input: #f56b88;
$btn-hoover: #eeeeee;
