//Width and height variables
$site-width: 980px;
$footer-content-width: 696px;

//Site colors
$site-white: #fff;
$site-black: #000;
$site-yellow: #FFD140;
$site-purple: #540D6E;
$site-pink: #EE4367;
$site-aqua: #3BCEAB;
$site-greeen: #08AD69;
$footer-signup-input: #F56B88;