.gal-container {
  padding: 0px 10px 73px 10px;

  .gal-content {
    max-width: $site-width;
    margin: 50.5px auto 0px auto;

    .gal-header-1 {
      @include gallery-page-hero();
    }

    .gal-header-2 {
        @include gallery-page-hero($overlayColor: $site-pink, $galleryHero: url(../images/gallery/2.jpeg));
    }

    .gal-header-3 {
        @include gallery-page-hero($overlayColor: $site-green, $galleryHero: url(../images/gallery/3.jpg));
    }

    .gal-header-4 {
        @include gallery-page-hero($overlayColor: $site-purple, $galleryHero: url(../images/gallery/4.jpg), $fontSize: 115px, $bottomMargin: -42px);
    }

    .gal-header-5 {
        @include gallery-page-hero($overlayColor: $site-aqua, $galleryHero: url(../images/gallery/5.png), $fontSize: 115px, $bottomMargin: -42px);
    }
      
    .gal-description {
        margin-top: 50.5px;
        display: flex;
        justify-content: space-between;

        .left-gal-p {
            @include gallery-paragraphs();
        }

        .right-gal-p {
            @include gallery-paragraphs($pWidth: 451px);
        }
    }
  }
}
