.gal-container {
  padding: 0px 10px 73px 10px;

  .gal-content {
    max-width: $site-width;
    margin: 50.5px auto 0px auto;

    .gal-header {
      height: 400.5px;
      background-image: linear-gradient(
          rgba($site-yellow, 0.7),
          rgba($site-yellow, 0.7)
        ),
        url(../images/gallery/1.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      
      h1 {
          font-family: GillSans;
          font-size: 300px;
          color: #FFD140;
          font-weight: lighter;
          text-shadow: 5px 5px 6px rgb(0, 0, 0, .16);
      }
      h2 {
        font-family: GillSans;
        font-size: 140px;
        color: #FFD140;
        font-weight: lighter;
        text-shadow: 5px 5px 6px rgb(0, 0, 0, .16);
    }
    }
    .gal-description {
        margin-top: 50.5px;
        display: flex;
        justify-content: space-between;

        .left-gal-p {
            @include gallery-paragraphs();
        }

        .right-gal-p {
            @include gallery-paragraphs($pWidth: 451px);
        }
    }
  }
}
