.home-events {
  background-color: $site-purple;
  padding: 50px 10px;
  min-height: 320px;

  h2 {
    text-transform: uppercase;
    font-family: GillSans;
    font-size: 25px;
    color: $site-white;
    font-weight: lighter;
    letter-spacing: 1px;
    max-width: $home-events-width;
    margin: 0 auto;
  }

  h2:after {
    content: "";
    display: block;
    border-bottom: 2px solid $site-white;
    width: 392px;
    margin-top: 10.5px;
    margin-bottom: 34.5px;
  }

  .upcoming-events-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: $home-events-width;
    margin: 0 auto;

    a {
      text-decoration: none;
    }

    .event-container {
      max-width: 220px;
      height: auto;
      display: flex;
      justify-content: space-between;

      .date {
        height: 60px;
        width: 60px;
        background-color: $site-pink;
        padding: 0 15px;
        margin-right: 20px;
        
        p {
          color: $site-white;
          font-family: GillSansBold;
          font-size: 22px;
          text-align: center;
          padding-top: 9px;
        }

        span p {
          color: $site-white;
          font-family: GillSansLight;
          font-size: 12px;
          text-align: center;
          margin-top: -25.5px;
        }
      }
      .event-description {
        max-width: 140px;
        padding: 2px;
        padding-left: 10px;

        p {
          font-family: GillSans;
          font-size: 15px;
          color: $site-white;
        }

        span p {
          font-family: GillSans;
          font-size: 13px;
          color: $site-pink;
          margin-top: -1px;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .home-events {
    h2 {
      text-align: center;
    }
    h2:after {
      margin: 10.5px auto 34.5px auto;
      width: 100%;
    }

    .upcoming-events-wrapper {
      flex-direction: column;
      max-width: 950px;

      .event-container {
        max-width: 750px;
        margin: 0 auto;
        padding: 10px 10px;
        flex-direction: column;

        .date {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 18px;
          height: 46px;

          p {
            margin-top: 9px;
          }
          span p {
            margin-left: 4.5px;
            margin-top: 13px;
          }
        }

        .event-description {
          min-width: 90%;
          margin: 40px auto 20px auto;
       
          p {
            text-align: center;
            font-size: 18px;
          }

          span p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
