footer {
  background-color: $site-pink;
  height: 455px;
  padding: 46px 10px 35px 10px;

  .footer-wrapper {
    max-width: $footer-content-width;
    margin: 0 auto;
    text-align: center;


    .address {
      font-family: GillSans;
      font-size: 16px;
      color: $site-white;
      margin: 45px 0;
      line-height: 22px;
    }

    .newsletter-signup {
      display: flex;
      justify-content: center;

      input {
        width: 529px;
        height: 60px;
        padding-left: 23px;
        font-family: GillSans;
        font-size: 16px;
        background-color: $footer-signup-input;
        border: none;
      }

      ::placeholder {
        color: $site-white;
      }

      .button-wrapper {
        button {
          width: 167px;
          height: 60px;
          background-color: $site-white;
          text-transform: uppercase;
          color: $site-pink;
          border: none;
          font-family: GillSans;
          font-size: 16px;
          letter-spacing: 1px;
          transition: 0.2s ease-in, 0.2s ease-out;

          &:hover {
            cursor: pointer;
            background-color: $footer-signup-input;
            color: $site-white;
            border-left: 1px solid $site-pink;
          }
        }
      }
    }

    .social-media {
      margin: 30px auto 45px auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 156px;

      .social-media-icon {
        i {
          font-size: 30px;
          color: $site-white;
          transition: 0.2s ease-in, 0.2s ease-out;

          &:hover {
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }
    }

    span {
      font-family: GillSans;
      font-size: 12px;
      color: $site-white;
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 500px) {
  footer {

    .footer-wrapper {
      .newsletter-signup {
        input {
          padding: 14px 2px 14px 14px;
          font-size: 14px;
          font-family: GillSansLight;
        }
        .button-wrapper {
      
          button {
            width: 100px;
            font-size: 14px;

          }
        }
      }
    }
  
  }
}
