nav {
  padding: 0 10px;

  .nav-wrapper {
    max-width: $site-width;
    height: 92.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    z-index: 99;
  }

  .logo {
    padding-right: 10px;

    .nav-logo {
      width: 92px;
      height: 42px;
    }
    
    .white-logo {
      background-image: url(../images/logo/logo-white.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .black-logo {
      background-image: url(../images/logo/logo-black.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  label {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 22px;
    color: $site-white;
  }

  #toggle {
    display: none;
  }

  .links {
    a {
      text-transform: lowercase;
      text-decoration: none;
      font-family: GillSans;
      font-size: 15px;
      transition: 0.14s ease-in, 0.14s ease-out;

      &:hover {
        cursor: pointer;
        color: $site-pink;
      }
    }

    span {
      margin: 0 13.5px;
      color: $site-pink;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 500px) {
  nav {
    .nav-wrapper {
      label {
        display: block;
        cursor: pointer;
      }

      #toggle:checked + .links {
        display: block;
      }

      .mobile-menu {
        display: block;
        cursor: pointer;
      }

      .links {
        margin-top: 360px;
        margin-right: 0px;
        text-align: center;
        display: none;
        width: 100%;
        height: 420px;
        background-color: #000000df;

        a {
          vertical-align: middle;
          text-align: center;
          font-family: GillSansLight;
          display: block;
          border-bottom: 1px solid $site-white;
          line-height: 83px;
        }

        span {
          display: none;
        }
      }
    }
  }
}
