nav {
 

  .nav-wrapper {
    max-width: $site-width;
    height: 92.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    border-bottom: 2px solid $site-white;
  }

  .links {
    a {
      text-transform: lowercase;
      text-decoration: none;
      font-family: GillSans;
      font-size: 15px;
      color: $site-white;
    }

    span {
      margin: 0 13.5px;
      color: $site-pink;
      font-size: 18px;
    }
  }
}
