.blog-page-container {
  padding: 0px 10px;

  .blog-content-wrapper {
    max-width: $site-width;
    padding-top: 65.5px;
    padding-bottom: 86px;
    margin: 0 auto;

    h1 {
      font-family: GillSans;
      font-weight: lighter;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 25px;
      margin-bottom: 30.5px;

      &:after {
        content: "";
        display: block;
        border-bottom: 2px solid $site-black;
        width: 229px;
        margin-top: 10.5px;
      }
    }


    .row {
      margin-bottom: 30px;
      max-width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .last-container {
        opacity: 0%;
      }

  
      .blog-container {
        width: 460px;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 0;

        .blog-date {
          width: 60px;
          height: 60px;
          background-color: $site-pink;
          padding: 0 10px;
          cursor: pointer;

          p {
            color: $site-white;
            font-family: GillSansBold;
            font-size: 22px;
            text-align: center;
            padding-top: 9px;
          }

          span p {
            color: $site-white;
            font-family: GillSansLight;
            font-size: 12px;
            text-align: center;
            margin-top: -25.5px;
          }
        }

        .blog-right-content {
          max-width: 380px;

          .blog-img {
            width: 100%;
            height: 140px;
            background-image: url(../images/blog.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.3s ease-in, 0.3s ease-out;

            &:hover {
              cursor: pointer;
            }
          }

          p {
            font-family: GillSans;
            font-size: 15px;
            color: $site-black;
            margin-top: 20px;
            padding-left: 4px;
            transition: 0.2s ease-in, 0.2s ease-out;

            &:hover {
              cursor: pointer;
            }
          }

          span p {
            font-family: GillSans;
            font-size: 13px;
            color: $site-pink;
            margin-top: -1px;
            padding-left: 4px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .blog-page-container {
    .blog-content-wrapper {
      h1 {
        text-align: center;
        margin: 0 auto;

        &:after {
          display: none;
        }
      }
      .row {
        flex-direction: column;
        width: 670px;
        margin: 0 auto;
   
        .last-container {
          display: none;
        }


        .blog-container {
          margin: 30px 20px;
          flex-direction: column;
          width: 100%;
          padding: 10px;
          
          .blog-date {
            margin: 0 auto;
            width: 100%;
            margin-top: 30px;
          }

          .blog-right-content {
            max-width: 100%;
            margin: 0 auto;
         

            .blog-img {
              margin: 0 auto;
              width: 100%;
              height: 220px;
            }

            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
